:root {
  --font-primary: "Poppins", sans-serif;
  --font-secondary: "Playfair Display", serif;

  --color-dark: #202a45;
  --color-light: #99a2a0;
  --color-branding: #e1bccf;
}

h4 {
  text-align: left;
  margin-left: 45px;
}
img {
  box-shadow: 2px 2px 3px var(--color-light);
}
a {
  text-decoration: none !important;
  color: var(--color-dark) !important;
}
a:hover {
  color: var(--color-branding) !important;
  transition: 0.5s;
}
hr {
  color: var(--color-branding) !important;
  height: 5px !important;
}
.homepageButton {
  margin: 25px;
}
.content {
  margin-top: 50px !important;
  margin-bottom: 100px !important;
  max-width: 1300px;
  margin: 0 auto;
  color: var(--color-dark);
  background-color: white;
}

.discription {
  text-align: left;
  margin-left: 45px;
}
.fa-circle-up {
  font-size: 20px;
}
.discript {
  padding-left: 15px;
  padding-top: 55px;
}
.larger {
  margin-top: 90px;
}
@media (max-width: 800px) {
  .discript {
    padding-left: 0;
    padding-top: 0;
  }
  .larger {
    margin-top: 0;
  }
}
