/*font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;*/
:root {
  --font-primary: "Poppins", sans-serif;
  --font-secondary: "Playfair Display", serif;

  --color-dark: #202a45;
  --color-light: #99a2a0;
  --color-branding: #e1bccf;
}

header {
  padding-bottom: 140px;
  color: #ffff !important;
  background-color: var(--color-dark) !important;
}
.container {
  padding: 10px 10%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
nav ul {
  transition: 0.5s;
}
nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}
nav ul li a {
  color: #ffff;
  text-decoration: none;
  position: relative;
  transition: 0.5s;
}
nav ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  background: var(--color-branding);
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}
nav ul li a:hover::after {
  width: 100%;
}
nav ul li a:hover {
  color: var(--color-light);
}
.intro {
  margin: 180px;
}
h3 {
  font-size: 35px !important;
  color: var(--color-light);
}
h1 {
  font-size: 50px !important;
}
.important {
  color: var(--color-branding);
}
h2 {
  text-align: center;
  margin-bottom: 20px !important;
}
h4 {
  color: var(--color-light);
}
button {
  border: white;
  background-color: white;
}
.about {
  max-width: 70%;
  display: block;
  margin: 0 auto;
}
.aboutP {
  font-size: 18px;
}
.button {
  text-decoration: none;
  color: var(--color-dark);
  border: solid var(--color-branding);
  border-radius: 7px;
  padding: 10px;
  background-color: var(--color-branding);
}
.button:hover {
  color: var(--color-light);
  transition: 0.5s;
}
.portfolio {
  color: #ffff;
  background-color: var(--color-dark);
}
.card-container {
  padding-block: 5rem;
}
.card-content {
  margin-inline: 1.75rem;
  border-radius: 1.25rem;
  overflow: hidden;
}
.card-article {
  width: 300px;
  border-radius: 1.25rem;
  overflow: hidden;
}

.card-image {
  position: relative;
  padding-top: 1.5rem;
  margin-bottom: -0.75rem;
}
.card-data {
  background-color: var(--color-branding);
  padding: 1.5rem 2rem;
  border-radius: 1rem;
  /*text-align: center;*/
  position: relative;
  z-index: 10;
}
.card-img {
  width: 180px;
  margin: 0 auto;
  position: relative;
  z-index: 5;
}
.card-shadow {
  width: 200px;
  height: 200px;
  background-color: var(--color-light);
  border-radius: 50%;
  position: absolute;
  top: 3.75rem;
  left: 0;
  right: 0;
  margin-inline: auto;
  filter: blur(45px);
}
.card-name {
  color: white;
  margin-bottom: 0.75rem;
}
.cardsLink {
  text-decoration: none !important;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  content: "";
}
.swiper-button-next,
.swiper-button-prev {
  width: initial;
  height: initial;
  font-size: 3rem;
  color: var(--color-branding) !important;
  /*display: none;*/
}
.swiper-button-prev {
  left: 0;
}
.swiper-button-next {
  right: 0;
}
.swiper-pagination-bullet {
  background-color: hsl(310, 65%, 48%) !important;
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background-color: var(--color-branding);
}
.portfolio::after {
  content: "";
  display: block;
  height: 150px;
  background-color: var(--color-dark);
}

.contact {
  background-color: var(--color-branding);
  color: var(--color-dark);
}
i {
  color: var(--color-dark);
}
.align {
  padding-top: 5px;
}
.contact-link {
  text-decoration: none;
  color: var(--color-dark);
}
.contact-link:hover {
  color: var(--color-light);
  transition: 0.5s;
}
.hompageButton {
  text-align: center;
  text-decoration: none;
  color: #ffff;
  border: solid var(--color-dark);
  border-radius: 7px;
  padding: 10px 20px;
  background-color: var(--color-dark);
  filter: drop-shadow(2px 2px 3px #684256);
}
.hompageButton:hover {
  color: var(--color-light);
  transition: 0.5s;
}
.HButtton {
  display: flex;
  justify-content: center;
}
.fa {
  display: none !important;
  color: white;
  font-size: 30px;
}
@media (min-width: 1300px) {
  header {
    background-image: url(img/1.jpg);
    background-size: 100% 100%;
  }
}
@media (max-width: 800px) {
  h1 {
    font-size: 30px !important;
  }
  .intro {
    margin: 80px !important;
    margin-top: 10rem !important;
  }
  .button {
    margin: 1px !important;
  }
  .hide {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  .fa,
  .fa-regular {
    display: block !important;
  }
  nav ul {
    background: var(--color-branding) !important;
    position: fixed !important;

    top: 0 !important;
    right: -200px;
    width: 200px !important;
    height: 100vh !important;
    padding-top: 50px !important;
    margin-top: 0 !important;
    z-index: 2;
  }
  nav ul li {
    display: block;
    margin: 25px;
  }
  nav ul .fa {
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
  }
}
@media screen and (max-width: 320px) {
  .card-data {
    padding: 1rem !important;
  }
}
@media screen and (min-width: 768px) {
  .card-content {
    margin-inline: 3rem !important;
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: block !important;
  }
}

@media screen and (min-width: 1120px) {
  /*.card-container {
    max-width: 1120px;
  }*/
  .swiper-button-next {
    right: -1rem;
  }
  .swiper-button-prev {
    left: -1rem;
  }
}
