/*font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;*/
:root {
  --font-primary: "Poppins", sans-serif;
  --font-secondary: "Playfair Display", serif;

  --color-dark: #202a45;
  --color-light: #99a2a0;
  --color-branding: #e1bccf;
}

header {
  padding-bottom: 140px;
  background-color: var(--color-dark) !important;
  color: #ffff !important;
}
.container {
  padding: 10px 10%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}
nav ul li a {
  color: #ffff;
  text-decoration: none;
  position: relative;
  transition: 0.5s;
}
nav ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  background: var(--color-branding);
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}
nav ul li a:hover::after {
  width: 100%;
}
nav ul li a:hover {
  color: var(--color-light);
}
.intro {
  margin: 180px;
}
h3 {
  font-size: 35px !important;
  color: var(--color-light);
}
h1 {
  font-size: 50px !important;
}
.important {
  color: var(--color-branding);
}
h2 {
  text-align: center;
  margin-bottom: 20px !important;
}
.about {
  max-width: 70%;
  display: block;
  margin: 0 auto;
}
.aboutP {
  font-size: 18px;
}
.button {
  text-decoration: none;
  color: var(--color-dark);
  border: solid var(--color-branding);
  border-radius: 7px;
  padding: 10px;
  background-color: var(--color-branding);
}
.button:hover {
  color: var(--color-light);
  transition: 0.5s;
}
.portfolio {
  color: #ffff;
  background-color: var(--color-dark);
}
.portfolio::after {
  content: "";
  display: block;
  height: 150px;
  background-color: var(--color-dark);
}
.portfolio-titles {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 57%;
}
.titles {
  font-size: 20px;
  cursor: pointer;
  position: relative;
}
.titles::after {
  content: "";
  width: 0;
  height: 3px;
  background: var(--color-branding);
  position: absolute;
  left: 0;
  bottom: -1px;
  transition: 0.5s;
}
.titles.active-link::after {
  width: 100%;
}
.portfolioImg {
  max-width: 80%;
  height: auto;
  filter: drop-shadow(2px 1px 3px #0f172b);
  border-radius: 10px !important;
}
.porfolio-content {
  display: none !important;
}
.porfolio-content.active-content {
  display: block !important;
}
.contact {
  background-color: var(--color-branding);
  color: var(--color-dark);
}
.contact-link {
  text-decoration: none;
  color: var(--color-dark);
}
.contact-link:hover {
  color: var(--color-light);
  transition: 0.5s;
}
.hompageButton {
  text-align: center;
  text-decoration: none;
  color: #ffff;
  border: solid var(--color-dark);
  border-radius: 7px;
  padding: 10px 20px;
  background-color: var(--color-dark);
  filter: drop-shadow(2px 2px 3px #684256);
}
.hompageButton:hover {
  color: var(--color-light);
  transition: 0.5s;
}
.HButtton {
  display: flex;
  justify-content: center;
}
