/*font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;*/
:root {
  --font-primary: "Poppins", sans-serif;
  --font-secondary: "Playfair Display", serif;

  --color-dark: #202a45;
  --color-light: #99a2a0;
  --color-branding: #e1bccf;
}

header {
  padding-bottom: 140px;
  background-color: var(--color-dark) !important;
  color: #ffff !important;
}
.container {
  padding: 10px 10%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}
nav ul li a {
  color: #ffff;
  text-decoration: none;
}
nav ul li a:hover {
  color: var(--color-light);
}
.intro {
  margin: 180px;
}
h3 {
  font-size: 35px !important;
  color: var(--color-light);
}
h1 {
  font-size: 50px !important;
}
.important {
  color: var(--color-branding);
}
h2 {
  text-align: center;
  margin-bottom: 20px !important;
  margin-top: 20px !important;
  color: var(--color-branding);
}
.about {
  max-width: 70%;
  display: block;
  margin: 0 auto;
}
.aboutP {
  font-size: 18px;
}
.button {
  text-decoration: none;
  color: var(--color-dark);
  border: solid var(--color-branding);
  border-radius: 7px;
  padding: 10px;
  background-color: var(--color-branding);
}
